source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget Suave
nuget Fable.Core

nuget Fable.Import.Browser

clitool dotnet-fable

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE