source https://api.nuget.org/v3/index.json

nuget Fable.Core
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Elmish.Browser
nuget Fable.JsonConverter
nuget Fable.Remoting.Client
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR

nuget FSharp.Core
nuget Suave
nuget jose-jwt
nuget SQLProvider
nuget Npgsql
nuget Fable.Remoting.Suave

clitool dotnet-fable
clitool Microsoft.DotNet.Watcher.Tools

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE